*{
  box-sizing: border-box;
}
body{
  background-image: url(https://img.freepik.com/free-vector/modern-suburb-neighborhood-cottages-houses-private-space-car-accommodation-trees-community-garden-isometric-flowchart-illustration_1284-62062.jpg);
}
header{
  margin-bottom: 0 !important;
}
.header-title, #happening, .bubble, .about__p{
  color: white;
  text-shadow: 2px 2px 2px black;
}
.container{
  background-color: lightblue;
  border-radius: 10px;
}

hr{
  margin: 5% 0;
  opacity: 0;
}

/*  ACTIVITIES  */
#activities{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -1;
    background-color: lightblue;
    opacity: 80%;
    border-radius: 10px;
  }

  .activities__left{

    margin: auto;
    input { 
      background-color: lightblue;
      border-radius: 10px;
      width: 75%;
      margin: 3% 0;
      padding: 3%;
    }
    button{
      background-color: darkblue;
      color: white;
      margin-top: 5%;
      border-radius: 10px;
    }
  }
  
  .activities__right{

    margin: auto;
    .activities__right__bubbles{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      button{
        border-radius: 10px;
        margin: 1%;
        width: 20%;
        background-color: #0d6efd;
      }
    }
  }
}

/*  ABOUT */
#about{
  display: flex;
  justify-content: center;
  background-color: lightblue;
  div{
    width: 40%;
    text-align: center;
    margin: auto;
    img{
      width: 100%;
    }
    p{
      font-size: 2rem;
    }
  }
}


/*  ACCOUNT */
#account-html, #account-body {
  height: 100%;
}
#account-body {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}
#account-main{
  width: 30% !important;
  text-align: center;
  padding-top: 100px;
}
#account-form{
  position: relative;
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &::after{
    content: "";
    position: absolute;
    width: 110%;
    height: 120%;
    top: -55px;
    left: -20px;
    background-color: lightblue;
    opacity: 80%;
    border-radius: 10px;
    z-index: -1;
  }
}